#main {
    height: 100vh;
    background-color: cadetblue;
}

#footer {
    border: 1px solid black;
    width: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 7px;
    text-align: center;


}

#front {
    flex-grow: 1;
    background-color: cadetblue;
}

#middle {
    flex-grow: 2;
}

#end {
    flex-grow: 1;
    background-color: cadetblue;
}

#front:hover, #end:hover {
    background-color: aqua;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
}